.logo_name span {
    color: var(--cor-azul);
    border-bottom: 1px solid var(--cor-laranja);
    padding-left: 70px;
  }
  
  .logo_name h1 {
    color: var(--cor-laranja);
    border-top: 1px solid var(--cor-azul);
    font-weight: 600;
    width: 34.5rem;
  }
  
  .logo_name {
    /* font-size: 42px; */
    font-size: clamp(1.45rem, 3.8vw, 2.8rem);
  }

  @media screen and (max-width: 780px) {
    .logo_name h1 {
      width: 380px;
      font-size: 56px;
    }
  }

  @media screen and (max-width: 480px) {
    .logo_name h1 {
      width: 320px;
      font-size: 56px;
    }

    .logo_name span {
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 280px) {
    .logo_name h1 {
      width: 260px;
      font-size: 45px;
    }
  }