.table_container {
    width: 95%;
    border-collapse: collapse;
    margin-top: 5px;
    overflow: auto;
    position: relative;
}

th {
    padding: 12px;
    text-align: left;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #F78B1F;
    padding-left: 0;
}

td {
    padding: 8px 0;
    text-align: left;
}

tbody .td_acoes {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.tr_info:nth-child(even) .td_nome, 
.tr_info:nth-child(even) .td_email,
.tr_info:nth-child(even) .td_cpf,
.tr_info:nth-child(even) .td_endereco {
    background-color: #f9f9f9;
}

.tr_info:nth-child(odd) .td_nome,
.tr_info:nth-child(odd) .td_email,
.tr_info:nth-child(odd) .td_cpf,
.tr_info:nth-child(odd) .td_endereco {
    background-color: #D9D9D9;
}

.tr_info:nth-child(even) .td_nome:hover, 
.tr_info:nth-child(even) .td_email:hover,
.tr_info:nth-child(even) .td_cpf:hover,
.tr_info:nth-child(even) .td_endereco:hover,
.tr_info:nth-child(odd) .td_nome:hover,
.tr_info:nth-child(odd) .td_email:hover,
.tr_info:nth-child(odd) .td_cpf:hover,
.tr_info:nth-child(odd) .td_endereco:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f78b1f19;
    border-radius: 11px;
}

::-webkit-scrollbar-thumb {
    background: #F78B1F;
    border-radius: 11px;
}

/* responsividade */
@media screen and (max-width: 880px) {
    .table_container {
        border-collapse: collapse;
        min-width: 880px;
        overflow: auto;
        margin-left: 6rem;
    }
}

@media screen and (max-width: 789px) {
    .table_container {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 721px) {
    .table_container {
        margin-left: 15rem;
    }
}

@media screen and (max-width: 644px) {
    .table_container {
        margin-left: 20rem;
    }
}

@media screen and (max-width: 563px) {
    .table_container {
        margin-left: 25rem;
    }
}

@media screen and (max-width: 483px) {
    .table_container {
        margin-left: 32rem;
    }
}

@media screen and (max-width: 404px) {
    .table_container {
        margin-left: 34.6rem;
    }
}

@media screen and (max-width: 332px) {
    .table_container {
        margin-left: 38.6rem;
    }
}
