.cotainer_body {
    overflow-x: hidden;
}

.container_info {
    margin-top: 5%;
    position: relative;
}

.circle_container {
    position: absolute;
    top: -290px;
    right: -290px;
    width: 468px;
    height: 470px;
    overflow: hidden;
}

.circle_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #004C99;
}

.lista_alunos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 26px;
    margin-top: 55px;
    height: 65vh;
}

.lista_alunos h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.button_voltar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: static;
}

@media screen and (max-width: 880px) {
    .lista_alunos {
        border-collapse: collapse;
        overflow: auto;
    }

    .button_voltar {
        justify-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 782px) {
    .circle_container {
        display: none;
    }

    .cotainer_body {
        margin-top: 5%;
    }

    .lista_alunos h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 332px) {
    .lista_alunos h1 {
        font-size: 16px;
    }
}