.loginButton_btn {
    background-color: var(--cor-laranja);
    color: #fff;
    border: none;
    border-radius: 25px;
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    height: 45px;
    margin-top: 9px;
}

.loginButton_btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja); 
}

.loginButton_btn a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}

.loginButton_btn a:hover {
    color: var(--cor-laranja);
}

button:hover {
    color: var(--cor-laranja);
}
 