.circle_container {
    position: absolute;
    top: -290px;
    right: -290px;
    width: 468px;
    height: 470px;
    overflow: hidden;
}

.circle_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #004C99;
}

.container_Registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 52px;
    width: 520px;
}

.form_Registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 20px;
}

.form_Registration p {
    font-weight: 800;
    margin: 20px 0;
    font-size: 18px;
}

.button_register a:hover {
    color: #F6931C;
}


@media screen and (max-width: 567px) {
    .circle_container {
        display: none;
    }

    .form_Registration {
        width: 72%;
    }
}

@media screen and (max-width: 405px) {
    .form_Registration p {
        font-size: 16px;
    }
}