.circle_container {
    position: absolute;
    top: -290px;
    right: -290px;
    width: 468px;
    height: 470px;
    overflow: hidden;
}

.circle_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #004C99;
}

/* .container_Registration {
    background-color: aqua;
} */

.logo {
    margin-top: 52px;
    width: 520px;
}

.form_Registration {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.form_Registration p {
    font-weight: 800;
    margin: 20px 0;
    font-size: 18px;
}

.form_register {
    border: 1px solid gray;
    width: 100%;
}

.button_register a {
    color: #fff !important;
}