.container_edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.circle_container {
    position: absolute;
    top: -290px;
    right: -290px;
    width: 468px;
    height: 470px;
    overflow: hidden;
}

.circle_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #004C99;
}

.logo {
    margin: 50px 0 15px 0;
}

.info_dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_edit_dados {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 50px;
}

.info_edit_dados h1 {
    margin: 15px 0;        
    font-size: 24px;
}

.input_icons {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 75vw;
}

.icons_editPage {
    /* border: 2px solid green; */
    margin-bottom: 10px;
}

.btn_voltar_salvar {
    /* border: 2px solid palegreen; */
    /* width: 91.5%; */
    width: 99%;
    display: flex;
    justify-content: space-between;
}

/* Responsividade */
@media screen and (max-width: 567px) {
    .circle_container {
        display: none;
    }

    .icons_editPage {
        width: 20%;
    } 

    .input_icons {
        width: 90vw;
    }

    .btn_voltar_salvar {
        width: 100%;
    }
}

@media screen and (max-width: 526px) {
    .icons_editPage {
        width: 20%;
    } 

    .info_edit_dados h1 {
        font-size: 20px;
    }

    .input_icons {
        width: 90vw;
    }

    .btn_voltar_salvar {
        width: 100%;
    }
}

