@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-azul: #004C99;
  --cor-laranja: #F6931C;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.container_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2_login {
  color: #000;
  font-weight: 400;
  padding-left: 70px;
  margin-bottom: 15px;
}

.logo_name span {
  color: var(--cor-azul);
  border-bottom: 1px solid var(--cor-laranja);
  padding-left: 70px;
}

.logo_name h1 {
  color: var(--cor-laranja);
  border-top: 1px solid var(--cor-azul);
  font-weight: 600;
}

.logo_name {
  font-size: 42px;
}


.container_info p {
  font-weight: bold;
  padding-left: 70px;
  margin-top: 74px;
  margin-bottom: 15px;
}

.info_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

.info_login p {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
}

.info_login a {
  color: var(--cor-laranja);
}

.container_img img {
  height: 100vh;
  max-width: 100vw;
}

@media screen and (max-width=1200px) {
  .container_img img {
    height: 50vh;
  }
  
}